* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    max-width:1080px;
    max-height: 1920px;
}

body{
    background-image: url(kiosk2_img/kiosk_bg2.png);
    position: relative;
}