* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image: url(resources/kiosk_bg.png);
    background-repeat: no-repeat;
    background-position: center; /* Center the image */
    background-size: cover;
    background-position-y: 1.5%;
    color: rgb(255,255,255,0.7);
    position:relative;
    justify-content: center;
    text-align: center;
}
header {
    position: relative;
    display: block;
    justify-content: center;
    align-items: center;
}
header h1 {
    font-size: 5em;
}
 header h2 {
    font-size: 3.5em;
}
.container {
    position: relative;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap:wrap;
}
.container .card{
    position: relative;
    width: 300px;
    height: 400px;
    margin: 20px 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255,255,255,0.5);
    box-shadow: 0 10px 25px rgba(0,0,0,0.2);
    backdrop-filter: blur(15px);
    border-radius: 5%;
}

.container .card .image {
    position: relative;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20%;
    transition: 0.5s ease-in-out;
    margin-bottom:-100px;
}
.container .card:hover .image{
    transform: translateY(-100px);
}
.container .card .image img {
    max-width: 100%;
    margin: 0 0 20px;
    transition: 0.5s ease-in-out;
}
.container .card:hover .image img{
    transform: translateY( -20px) scale(2);
}
img{
    margin-top: 50px;
    padding-top: 100px;
}
#q {
    color: #fff;
    font-size: 2em;
}
