* {
    margin: 0;
    padding: 0;
    max-width: 1024px;
    max-height: 768px;
}

.container{
    width: 1024px;
    height: 768px;
}

body{
    background-image: url(tablet/music_page/tablet_bg.png);
    position: relative;
    background-repeat: no-repeat;
}

.map_bg{
    position: relative;
    float: left;
}

.map_before{
    position:relative;
    margin-left: -690px;
    margin-right: 50px;
    margin-top: 30px;
    float: left;
    z-index: 10;
}

.go{
    transform: translateX(690px);
    transition-duration: 0.3s;
}

.goBack{
    transform: translateX(-8px);
    transition-duration: 0.3s;
}


.musicHeader{
    position: relative;
    margin: 50px 0px 25px 190px;
    float: left;
}

.musicBox{
    position: relative;
    float: left;
    margin-bottom: 40px;
}

.music_BoxElem{
    position: relative;
    float: left;
}

#musicTitle{
    margin-top: -260px;
    margin-left: 35px;
}

#leftBtn, #stopBtn, #rightBtn{   
    margin: 0 120px;
    margin-top: 50px;
    float: left;
}

#leftBtn{
    margin-left: 25px;
}

#rightBtn{
    margin-right: 25px;
}

.musicTime{
    margin: 160px 20px 0px 20px;
}

.musicList{
    margin-left: 100px;
    position: relative;
    
}

#bar1, #bar2, #bar3, #bar4, #bar5{
    position: relative;
    margin: 2px 0 0px 55px;
    float: left;
    width: 500px;
}

.scroll{
    position: relative;
    float: left;
}

#scrollBg{
    position: relative;  
    margin: -300px 0 0 70px;
}

#scrollActive{
    position: relative;
    margin: -320px 0 0 70px;
}

